/* strip this and add own style */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#raceTrack {
  display: none;
  margin-top: 1rem;
  border: 3px solid black;
  border-radius: 30px;
}

#racerProgress{
  margin: 1rem;
}

#winner{
  display: none;
  text-align: center;
}

